venv
ml_venv
ml_venv_9
ML
ML_1
ml_tests
test_4
test_5
# model
pics
VAK_experiments
.env
.vscode
venv_1
venv
cifar_cnn_fine.pt
cifar_cnn_fine.pth
test_5 (копия).ipynb
подготовка_модели_для_рекомендации.ipynb